.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.basepoint {
  position: fixed;
  width: 4px;
  height: 4px;
  margin-top: -400px;
  background-color: brown;
}

.face {
  position: absolute;
  top: 10px;
  left: -150px;
  box-sizing: border-box;
  width: 300px;
  height: 280px;
  background: #f39964;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.hana {
  position: absolute;
  top: 120px;
  left: -40px;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: #dd1515;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.mayuL {
  position: absolute;
  top: 40px;
  left: -10px;
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  background: #f39964;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.mayuR {
  position: absolute;
  top: 40px;
  left: -90px;
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  background: #f39964;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.mayub1 {
  position: absolute;
  top: 55px;
  left: -50px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background: #f39964;
}

.mayub2 {
  position: absolute;
  top: 70px;
  left: -90px;
  box-sizing: border-box;
  width: 200px;
  height: 170px;
  background: #f39964;
}

.hanaL {
  position: absolute;
  top: 125px;
  left: 30px;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: #ea5503;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.hanaR {
  position: absolute;
  top: 126px;
  left: -110px;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: #ea5503;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.hanab1 {
  position: absolute;
  top: 110px;
  left: -120px;
  box-sizing: border-box;
  width: 50px;
  height: 100px;
  background: #f39964;
}

.hanab2 {
  position: absolute;
  top: 110px;
  left: 70px;
  box-sizing: border-box;
  width: 50px;
  height: 100px;
  background: #f39964;
}

.hanaL2 {
  position: absolute;
  top: 127px;
  left: 34px;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  background: #ea5503;
  border-radius: 50%;
}

.hanaR2 {
  position: absolute;
  top: 128px;
  left: -110px;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  background: #ea5503;
  border-radius: 50%;
}

.hanateriL {
  position: absolute;
  top: 152px;
  left: -80px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background: #f4f4f4;
}

.hanateriR {
  position: absolute;
  top: 152px;
  left: 65px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background: #fdfcfc;
}

.hanateriC {
  position: absolute;
  top: 152px;
  left: -20px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background: #f5f3f1;
}

.eyeL {
  position: absolute;
  top: 75px;
  left: 20px;
  box-sizing: border-box;
  width: 30px;
  height: 40px;
  background: #0a0400;
  border-radius: 50%;
}

.eyeR {
  position: absolute;
  top: 75px;
  left: -50px;
  box-sizing: border-box;
  width: 30px;
  height: 40px;
  background: #0e0601;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 150px;
  left: -50px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background: #ba5054;
  border: 3.5px solid #160902;
  border-radius: 50%;
}

.mouthb {
  position: absolute;
  top: 160px;
  left: -50px;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  background: #f39964;
  border-bottom: 3px solid #0a0400;
}
